body {
}

#topheader {
    background-color: #000000;
    color: white;
}

#sidebar {
    min-height: 600px;
}

#footer {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}

#menu li {
    padding: 0px;
}

    #menu li a {
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
